###############################################################################
# WINDOWS.CFG - SAMPLE CONFIG FILE FOR MONITORING A WINDOWS MACHINE
#
#
# NOTES: This config file assumes that you are using the sample configuration
#    files that get installed with the Nagios quickstart guide.
#
###############################################################################



###############################################################################
#
# HOST DEFINITIONS
#
###############################################################################

# Define a host for the Windows machine we'll be monitoring
# Change the host_name, alias, and address to fit your situation

define host {

    use                     linux-server          ; Inherit default values from a template
    host_name               antminer                ; The name we're giving to this host
    alias                   My L3 Antminer          ; A longer name associated with the host
    address                 192.168.1.11            ; IP address of the host
}



###############################################################################
#
# HOST GROUP DEFINITIONS
#
###############################################################################

# Define a hostgroup for Windows machines
# All hosts that use the windows-server template will automatically be a member of this group

define hostgroup {

    hostgroup_name         miners                  ; The name of the hostgroup
    alias                  Mining Servers          ; Long name of the group
}



###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

define service{
        use                             local-service,graphed-service         ; Name of service template to use
        host_name                       antminer
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
        }

define service{
        use                             local-service,graphed-service         ; Name of service template to use
        host_name                       antminer
        service_description             Check SSH 
        check_command                   check_ssh
        }

